# --extra-index-url https://download.pytorch.org/whl/cu118
# torch

# numba
# tqdm
# more-itertools
# tiktoken
# git+https://github.com/openai/whisper.git

gradio
numpy
soundcard

transformers
sentencepiece

# optional
sacremoses
